<footer class="footer mt-auto">
	<ul class="navbar-nav d-flex flex-row justify-content-center align-items-center gap-3">
		<li class="nav-item">
			<a href="" class="nav-link">Mentions légales</a>
		</li>
		<li class="nav-item">
			<a href="" class="nav-link">Accessibilité</a>
		</li>
		<li class="nav-item">
			<a href="" class="nav-link">Sitemap</a>
		</li>
	</ul>
</footer>
