<!DOCTYPE html>
<html lang="fr" class="h-100">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			- Rotary Porto Vecchio</title>
		<link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon" sizes="16x16">
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
		<link href="https://fonts.cdnfonts.com/css/neo-sans-arabic" rel="stylesheet"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
		{% endblock %}
	</head>
	<body class="h-100 d-flex flex-column">
		{{ include('partials/_header.html.twig') }}

		<div class="flex-shrink-0"> {% block banner %}{% endblock %}
			</div>

			<main class="flex-shrink-0"> {% block body %}{% endblock %}
				</main>

				{{ include('partials/_footer.html.twig') }}
			</body>
		</html>
