<!DOCTYPE html>
<html lang="fr" class="h-100">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			- Rotary Porto Vecchio</title>
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
		<link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon" sizes="16x16">
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
		<link href="https://fonts.cdnfonts.com/css/neo-sans-arabic" rel="stylesheet"> {% block stylesheets %}{% endblock %}

		</head>
		<body class="h-100 w-100">
			<div class="home-body-filter d-flex flex-column justify-content-between w-100">
				{{ include('partials/_header.html.twig') }}

				<main class="flex-shrink-0"> {% block content %}{% endblock %}
					</main>

					{{ include('partials/_home-footer.html.twig') }}
				</div>
			</body>
		</html>
