{% extends 'base.html.twig' %}

{% block title %}Les causes que nous défendons
{% endblock %}

{% block body %}
	<div class="container club">
		<h1 class="text-center my-3">
			Le Rotary Club de Portovecchio :
			<br>
			Engagé pour le Bien-être Communautaire
		</h1>

		<p>
			Le Rotary Club de Portovecchio incarne l'esprit de service et d'engagement envers la communauté locale. Fondé sur des valeurs humanitaires et d'éthique, ce club dynamique s'est engagé dans diverses causes qui ont un impact significatif sur la vie des habitants de la région.
		</p>

		<section class="d-flex justify-content-between">
			<div class="section-title-left">
				<h2>Promotion de l'éducation</h2>
			</div>
			<div class="section-content-right">
				<p>
					L'éducation est l'un des piliers fondamentaux du Rotary Club de Portovecchio. En reconnaissance du rôle vital de l'éducation dans le développement individuel et communautaire, le club soutient activement les initiatives visant à améliorer l'accès à l'éducation de qualité pour tous. Que ce soit par le biais de bourses d'études, de programmes de mentorat ou de dons de fournitures scolaires, le Rotary Club de Portovecchio s'efforce de créer des opportunités éducatives pour les jeunes de la région.
				</p>
			</div>
		</section>

		<section class="spacer">
			<img src="{{ asset('images/logo.svg') }}" alt="">
		</section>

		<section class="d-flex justify-content-between">
			<div class="section-content-left">
				<p>
					La santé et le bien-être de la communauté sont également au cœur des préoccupations du Rotary Club de Portovecchio. Le club organise régulièrement des campagnes de sensibilisation sur des questions de santé publique, telles que la prévention des maladies, la promotion de modes de vie sains et l'accès aux soins médicaux. En collaborant avec des professionnels de la santé et des organisations locales, le Rotary Club contribue à renforcer le tissu sanitaire de la région et à promouvoir le bien-être de tous.
				</p>
			</div>
			<div class="section-title-right">
				<h2>Santé et bien-être</h2>
			</div>
		</section>

		<section class="spacer">
			<img src="{{ asset('images/logo.svg') }}" alt="">
		</section>

		<section class="d-flex justify-content-between">
			<div class="section-title-left">
				<h2>Protection de l'environnement</h2>
			</div>
			<div class="section-content-right">
				<p>
					Conscient de l'importance de préserver l'environnement pour les générations futures, le Rotary Club de Portovecchio s'engage dans des actions concrètes pour la protection de la nature et la promotion du développement durable. À travers des initiatives de sensibilisation, de nettoyage des plages, de reboisement et de conservation des ressources naturelles, le club cherche à mobiliser la communauté autour des enjeux environnementaux locaux et mondiaux.
				</p>
			</div>
		</section>

		<section class="spacer">
			<img src="{{ asset('images/logo.svg') }}" alt="">
		</section>

		<section class="d-flex justify-content-between">
			<div class="section-content-left">
				<p>
					Le Rotary Club de Portovecchio croit en la solidarité et en l'inclusion sociale. Ainsi, le club s'investit dans des actions en faveur des personnes défavorisées, notamment les sans-abris, les personnes âgées isolées et les familles dans le besoin. Que ce soit par le biais de distributions alimentaires, d'accompagnement social ou de soutien financier, le Rotary Club œuvre pour réduire les inégalités et offrir un soutien aux plus vulnérables de la communauté.
				</p>
			</div>
			<div class="section-title-right">
				<h2>Aide aux personnes défavorisées</h2>
			</div>
		</section>

		<section class="spacer">
			<img src="{{ asset('images/logo.svg') }}" alt="">
		</section>

		<section class="d-flex justify-content-between">
			<div class="section-title-left">
				<h2>Culture et développement communautaire</h2>
			</div>
			<div class="section-content-right">
				<p>
					Enfin, le Rotary Club de Portovecchio reconnaît l'importance de la culture et du développement communautaire dans le renforcement du tissu social. Le club soutient ainsi divers projets culturels, artistiques et sportifs qui favorisent l'épanouissement personnel et la cohésion sociale au sein de la communauté.
				</p>
			</div>
		</section>

		<p>
			En conclusion, le Rotary Club de Portovecchio incarne l'esprit de service et de solidarité envers la communauté. À travers ses actions diversifiées et son engagement continu, le club contribue de manière significative au bien-être et au développement de la région. Que vous soyez un habitant local ou un visiteur de passage, rejoindre le Rotary Club de Portovecchio offre une opportunité unique de faire une différence positive dans la vie des autres et de laisser un impact durable sur la communauté.
		</p>
	</div>
{% endblock %}
