{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!
{% endblock %}

{% block body %}
	<div class="container club">
		<h1 class="text-center my-3">
			Le Rotary Club de Portovecchio :
			<br>
			Un Héritage d'Engagement Communautaire
		</h1>
		<p>
			Depuis sa fondation, le Rotary Club de Portovecchio a été un pilier de l'engagement communautaire dans la région. Son histoire riche et inspirante témoigne de décennies de service désintéressé, d'actions humanitaires et de partenariats fructueux avec la communauté locale.
		</p>

		<section class="d-flex justify-content-between">
			<div class="section-title-left">
				<h2>Les débuts modestes</h2>
			</div>
			<div class="section-content-right">
				<p>
					Le Rotary Club de Portovecchio a été fondé en 1963 par un groupe de professionnels et de leaders locaux animés par la volonté de servir leur communauté. Malgré des débuts modestes, le club s'est rapidement imposé comme un acteur majeur du développement social, éducatif et économique de la région.
				</p>
			</div>
		</section>

		<section class="spacer">
			<img src="{{ asset('images/logo.svg') }}" alt="">
		</section>

		<section class="d-flex justify-content-between">
			<div class="section-content-left">
				<p>
					Dès ses premières années d'existence, le Rotary Club de Portovecchio s'est engagé dans des actions humanitaires significatives, répondant aux besoins urgents de la communauté. Que ce soit en fournissant une aide d'urgence lors de catastrophes naturelles, en soutenant des programmes de lutte contre la pauvreté ou en offrant un accès aux soins de santé de base, le club a toujours placé la solidarité et le service au cœur de ses actions.
				</p>
			</div>
			<div class="section-title-right">
				<h2>Engagement humanitaire</h2>
			</div>
		</section>

		<section class="spacer">
			<img src="{{ asset('images/logo.svg') }}" alt="">
		</section>

		<section class="d-flex justify-content-between">
			<div class="section-title-left">
				<h2>Croissance et expansion</h2>
			</div>
			<div class="section-content-right">
				<p>
					Au fil des ans, le Rotary Club de Portovecchio a connu une croissance remarquable, tant en termes de membres que de portée de ses activités. Grâce à un leadership dynamique et à l'engagement continu de ses membres, le club a pu étendre son influence et multiplier ses efforts dans des domaines aussi variés que l'éducation, la santé, l'environnement et le développement économique.
				</p>
			</div>
		</section>

		<section class="spacer">
			<img src="{{ asset('images/logo.svg') }}" alt="">
		</section>

		<section class="d-flex justify-content-between">
			<div class="section-content-left">
				<p>
					Le Rotary Club de Portovecchio a également cultivé des partenariats solides avec des organisations locales et internationales partageant ses valeurs et ses objectifs. En collaborant avec des institutions gouvernementales, des ONG, des entreprises et d'autres clubs Rotary à travers le monde, le club a pu maximiser l'impact de ses actions et étendre son rayonnement bien au-delà des frontières de la région.
				</p>
			</div>
			<div class="section-title-right">
				<h2>Partenariats locaux et internationaux</h2>
			</div>
		</section>

		<section class="spacer">
			<img src="{{ asset('images/logo.svg') }}" alt="">
		</section>

		<section class="d-flex justify-content-between">
			<div class="section-title-left">
				<h2>Héritage et avenir</h2>
			</div>
			<div class="section-content-right">
				<p>
					Aujourd'hui, le Rotary Club de Portovecchio continue de perpétuer son héritage d'engagement communautaire et d'excellence dans le service. Fort de son passé glorieux et de ses succès passés, le club se tourne résolument vers l'avenir, prêt à relever les défis du XXIe siècle et à continuer de faire une différence positive dans la vie des habitants de la région.
				</p>
			</div>
		</section>

		<p>
			En conclusion, l'histoire du Rotary Club de Portovecchio est celle d'un engagement indéfectible envers la communauté, d'une solidarité sans faille et d'une vision inspirante de l'action humanitaire. Que ce soit en répondant aux besoins immédiats des plus démunis ou en investissant dans des projets à long terme pour le bien-être commun, le club incarne les valeurs fondamentales du Rotary et reste un exemple de leadership et de service pour tous.
		</p>
	</div>
{% endblock %}
